<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= locals?.header?.title || "Webbase" %></title>
<script src="/dependencies/jquery/jquery351.js"></script>
<script src="/dependencies/bootstrap500/js/bootstrap.bundle.js"></script>
<script src="/js/regex-validator.js"></script>
<script src="/js/rest-api.js"></script>
<script src="/js/clipper.js"></script>
<link rel="stylesheet" href="/dependencies/bootstrap500/css/bootstrap.css">
<link rel="stylesheet" href="/dependencies/bootstrap-icons/bootstrap-icons.css">
<%- locals?.header?.inject %>