<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
<%- include("../../parts/header.ejs"); %>
<script src="/js/compiled/translationEditor.js"></script>
</head>
<body class="bg-dark h-100">
    <main id="translation-editor" class="h-100 d-flex w-100">
        
    </main>
</body>
</html>