<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
<%- include("parts/header.ejs"); %>
<script src="/js/compiled/login.js"></script>
</head>
<body class="bg-dark h-100">
    <main id="login-form" class="h-100 d-flex">
        
    </main>
</body>
</html>